.venv/
dataset/
picture_and_mask/
pictures_my_half/
exported_masks/
articles_data.csv
label_class_dict.csv
metadata.csv
.idea/
pictures_png/
weights/
runs/
readme.odt
__pycache__/
текст.txt
unet_resnet34.onnx
unet_resnet34_2.onnx
test_for_metrics.py
output.csv
output.ods
output_black.ods